:root {
  /* Primary */
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);

  /* Dark Theme */
  --Very-Dark-Blue: hsl(232, 19%, 15%);
  --Dark-Desaturated-Blue: hsl(228, 28%, 20%);
  --Desaturated-Blue: hsl(228, 34%, 66%);
  --White: hsl(0, 0%, 100%);

  /* Light Theme */

  --White: hsl(0, 0%, 100%);
  --Very-Pale-Blue: hsl(225, 100%, 98%);
  --Light-Grayish-Blue: hsl(227, 47%, 96%);
  --Dark-Grayish-Blue: hsl(228, 12%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  color: var(--Very-Dark-Blue);
  transition: 0.2s ease-in-out;
}

body.darkTheme {
  background-color: var(--Very-Dark-Blue);
  color: var(--White);
}

.container {
  margin: 0 1.5rem;
}

.header {
  margin: 3rem 0 2rem;
}

.header .header-title p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--Dark-Grayish-Blue);
}

.header .container hr {
  margin: 2rem 0;
  color: var(--Dark-Grayish-Blue);
}

.header .header-btn-theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-btn-theme p {
  color: var(--Dark-Grayish-Blue);
  font-size: 1.2rem;
  font-weight: bold;
}

.header .header-btn-theme .lbl {
  display: inline-block;
  width: 65px;
  height: 33px;
  background: #979797;
  border-radius: 3rem;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.header .header-btn-theme .lbl::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: #eee;
  border-radius: 3rem;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: 0.3s ease-in-out;
}

@keyframes xd {
  70% {
    transform: scale(0.7);
  }
}

.switch {
  display: none;
  visibility: hidden;
}
.switch:checked + .lbl::after {
  animation: xd 0.3s;
  left: 36px;
  background: var(--Dark-Desaturated-Blue);
}
.switch:checked + .lbl {
  background: linear-gradient(90deg, hsl(208, 92%, 53%), hsl(163, 72%, 41%));
}

/* Container Followers */

.cards-followers--container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.card-follower {
  text-align: center;
  border-radius: 4px;
  border-top: 4px solid hsl(208, 92%, 53%);
  background: hsl(227, 47%, 96%);
  position: relative;
}

.darkTheme .card-follower {
  background-color: var(--Dark-Desaturated-Blue);
}

.card-follower .card-follower__nickname {
  color: hsl(228, 12%, 44%);
  font-weight: bold;
  font-size: 1.2rem;
  margin: 2rem 0;
}

.card-follower .card-follower__nickname span {
  color: transparent;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 8px;
  background: url(../images/icon-facebook.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-follower .card-follower__number {
  font-size: 4.6rem;
  font-weight: bold;
}

.card-follower .card-follower__textdesc {
  text-transform: uppercase;
  color: hsl(228, 12%, 44%);
  margin: 0 0 1rem;
}

.card-follower .card-follower__news {
  color: var(--Lime-Green);
  font-weight: bold;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.card-follower .card-follower__news span {
  color: transparent;
  background: url(../images/icon-up.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-follower:nth-child(2) {
  border-color: hsl(203, 89%, 53%);
}
.card-follower:nth-child(2) .card-follower__nickname span {
  background-image: url(../images/icon-twitter.svg);
  background-size: auto;
}

.card-follower:nth-child(3) .card-follower__nickname span {
  background-image: url(../images/icon-instagram.svg);
  background-size: auto;
}

.card-follower:nth-child(3) {
  border: none;
}

.card-follower:nth-child(3)::before {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  border-start-start-radius: 4px;
  border-start-end-radius: 4px;
}

.card-follower:nth-child(4) {
  border-color: var(--YouTube);
}
.card-follower:nth-child(4) .card-follower__nickname span {
  background-image: url(../images/icon-youtube.svg);
  background-size: auto;
}

.card-follower:nth-child(4) .card-follower__news span {
  color: transparent;
  background: url(../images/icon-down.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-follower:nth-child(4) .card-follower__news {
  color: var(--Bright-Red);
}

/* Overview */

.overview {
  margin: 2rem 0;
}

.overview-title {
  margin: 2rem 0;
  color: hsl(228, 12%, 44%);
  font-size: 2.4rem;
}

.overview-title.darkTheme {
  color: var(--White);
}

.cards-overview--container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.card-overview {
  background: hsl(227, 47%, 96%);
  border-radius: 4px;
  padding: 1rem 3rem;
}

.darkTheme .card-overview {
  background-color: var(--Dark-Desaturated-Blue);
}

.card-overview .card-overview__type {
  color: hsl(228, 12%, 44%);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.card-overview .card-overview__type span::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/icon-facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-overview .card-overview__count {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1.5rem 0;
}

.card-overview .card-overview__count > p {
  font-weight: bold;
  font-size: 2.6rem;
}

.card-overview .card-overview__count > div {
  color: var(--Lime-Green);
  font-weight: bold;
  font-size: 1.2rem;
}
.card-overview .card-overview__count > div p {
  display: flex;
  align-items: center;
}
.card-overview .card-overview__count > div span::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/icon-up.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-overview:nth-child(2) .card-overview__count > div {
  color: var(--Bright-Red);
  font-weight: bold;
  font-size: 1.2rem;
}

.card-overview:nth-child(2) .card-overview__count > div span::before {
  background-image: url(../images/icon-down.svg);
}

.card-overview:nth-child(3) .card-overview__type span::before {
  background-image: url(../images/icon-instagram.svg);
}

.card-overview:nth-child(4) .card-overview__type span::before {
  background-image: url(../images/icon-instagram.svg);
}

.card-overview:nth-child(5) .card-overview__type span::before {
  background-image: url(../images/icon-twitter.svg);
}

.card-overview:nth-child(6) .card-overview__type span::before {
  background-image: url(../images/icon-twitter.svg);
}

.card-overview:nth-child(7) .card-overview__count div p,
.card-overview:nth-child(8) .card-overview__count div p {
  color: var(--Bright-Red);
}

.card-overview:nth-child(7) .card-overview__count > div span::before,
.card-overview:nth-child(8) .card-overview__count > div span::before {
  background-image: url(../images/icon-down.svg);
}

.card-overview:nth-child(7) .card-overview__type span::before,
.card-overview:nth-child(8) .card-overview__type span::before {
  background-image: url(../images/icon-youtube.svg);
}
